.footer-contacts {
    margin-right: 70px;
}


.footer-contacts__item {


    &:not(:last-child) {
        margin-bottom: 9px;
    }
}


.footer-contacts__office {
    text-decoration: none;
    color: var(--primary-white-color);
}


.footer-contacts__link {
    color: var(--footer-text-color);
    text-decoration: none;

    transition: color var(--animate-time-function);


    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}