.portfolio-card {
    display: block;

    text-decoration: none;
    color: inherit;

    transition: box-shadow var(--animate-time-function);


    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                    0px 4px 4px rgba(0, 0, 0, 0.06),
                    1px 4px 6px rgba(0, 0, 0, 0.16);
    }


    &:hover .portfolio-card__overlay,
    &:focus .portfolio-card__overlay {
        transform: translateY(0);
    }
}


.portfolio-card__meta {
    padding: 20px 24px;

    border-right: 1px solid var(--border-portfolio-card);
    border-bottom: 1px solid var(--border-portfolio-card);
    border-left: 1px solid var(--border-portfolio-card);
}


.portfolio-card__title {
    margin-bottom: 4px;

    color: var(--title-text-color);

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}


.portfolio-card__text {
    margin: 0;

    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.87;
}


.portfolio-card__thumb {
    position: relative;

    width: 370px;
    height: 294px;

    overflow: hidden;
}


.portfolio-card__overlay {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);

    width: 100%;
    height: 100%;

    background-color: rgba(33, 150, 243, 0.9);
    transition: transform var(--animate-time-function);
}


.portfolio-card__descr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    padding: 0 24px;
    margin-bottom: 0;

    font-size: 18px;
    line-height: 1.56;
    color: var(--primary-white-color);
}