.nav {
    display: flex;
    align-items: center;

    margin-right: auto;
}


.nav__item {


    &:not(:last-child) {
        margin-right: 50px;
    }


    &--position {
        position: relative;
    }
}


.nav__link {
    display: inline-block;
    padding: 32px 0;

    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color var(--animate-time-function);


    &--current::after {
        position: absolute;
        content: '';
        bottom: -1px;
        left: 0;

        width: 100%;
        border-radius: 2px;

        background-color: var(--accent-color);
        border: solid 2px var(--accent-color);
    }


    &:hover,
    &:focus,
    &--current {
        color: var(--accent-color);
    }
}