.contact-item {
    
    
    @media screen and (max-width: 767px) {
        display: none;
    }


    @media screen and (min-width: 1200px) {
        &:not(:last-child) {
        margin-right: 30px;
        }
    }
}

.card-set--contacts {
    align-items: baseline;

    @media screen and (max-width: 1199px) {
        flex-direction: column;
    }

}


.contact-item__link {
    display: flex;
    align-items: center;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    text-decoration: none;
    letter-spacing: 0.02em;

    transition: color var(--animate-time-function);


    &--mail {
        padding-top: 21px;
        padding-bottom: 5px;
    }
    
    &--phone {
        padding-top: 5px;
        padding-bottom: 21px;
    }


    @media screen and (min-width: 1200px) {
        padding: 32px 0;
        font-size: 14px;
        line-height: 1.14;
    }


    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}


.contact-item__icon {
    margin-right: 10px;

    fill: currentColor;


    &--mail {
        width: 14px;
        height: 10px;
    }


    &--phone {
        width: 10px;
        height: 14px;
    }

    @media screen and (min-width: 1200px) {
        &--mail {
            width: 16px;
            height: 12px;
        }
        
        
        &--phone {
            width: 10px;
            height: 16px;
        }
    }
}