.header {
    border-bottom: 1px solid var(--border-header-color);
}


.header__container {
    @extend %container;
}


.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


// .header__menu {
//     display: none;
// }



// Кнопка мобільного меню
.header__menu-button {
    display: inline-flex;
    padding: 0;
    border: none;
    background-color: transparent;

    &:hover .header__menu-button-icon,
    &:focus .header__menu-button-icon {
        fill: var(--accent-color);
    }


    &.is-open .header__menu-icon-close {
        display: block;
    }


    &.is-open .header__menu-icon-menu {
        display: none;
    }


    @media screen and (min-width: 768px) {
        display: none;
    }
}


.header__menu-icon-close {
    display: none;
}


.header__menu-button-icon {
    width: 40px;
    height: 40px;
}


// Контейнер мобільного меню
.header__menu-container {

    background-color: palegoldenrod;


    @media screen and (max-width: 767px) {
        display: none;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        // width: 100%;
        // height: 100vw;
        // padding: 48px 40px;


        &.is-open {
            display: flex;
            flex-direction: column;
        }
    }


    @media screen and (min-width: 768px) {
        display: flex;


        // хз
        // justify-content: space-between;

    }
}


// Меню
.header__nav-list {
    @extend %list;


    @media screen and (max-width: 767px) {
        // margin-bottom: 302px;
        flex-grow: 1;
    }
}


@media screen and (max-width: 767px) {


    .header__nav-item:not(:last-child) {
        margin-bottom: 32px;
    }
}


.header__nav-link {
    @extend %link;

    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}


// Контакти
.header__contacts-list {
    @extend %list;

    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 64px;

        font-weight: 500;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.02em;
    }
}

//
.header__contacts-item--phone {
    background-color: tomato;

    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color)
}

//


.header__contacts-item:last-child {


    @media screen and (max-width: 767px) {
        margin-bottom: 32px;
    }
}


.header__contacts-link {
    @extend %link;
}


.header__contacts-icon {
    display: none;

    @media screen and (min-width: 768px) {
        display: inline-flex;
        width: 12px;
        height: 12px;
    }
}


.header__contacts-icon--mail {

    @media screen and (min-width: 768px) {
        width: 14px;
        height: 10px;
    }


    @media screen and (min-width: 1200px) {
        width: 16px;
        height: 12px;
    }
}


.header__contacts-icon--phone {

    @media screen and (min-width: 768px) {
        width: 10px;
        height: 14px;
    }


    @media screen and (min-width: 1200px) {
        width: 10px;
        height: 16px;
    }
}