                    /* Base */

.page {
    position: relative;
    
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: $main-fonts;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}