%button {
    padding: 10px 32px;

    color: var(--primary-white-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;

    border: 0;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    cursor: pointer;
    background-color: var(--accent-color);

    transition: background-color var(--animate-time-function);


    &:hover,
    &:focus {
        background-color: var(--button-hover-color);
    }
}